
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from pandas import factorize
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
## import all libarray 
# Algorithms
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score